* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: sans-serif;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  color: yellow;
  text-align: center;
}

h1,
p {
  color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5rem;
}

p {
  font-size: 2rem;
}

table {
  width: fit-content;
  margin: auto;
  border-spacing: none;
  border-collapse: collapse;
}

td {
  background-color: black;
  color: white;
}

.box-cell {
  border: gray 1px solid;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 700;
  position: relative;
}

.pacman {
  /* background-color: yellow; */
  background: url("./img/pacman.jpg");
  background-size: contain;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.ghost {
  background-color: blue;
  background-size: contain;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
